<div class="page-header">
  <%= link_to historial_medicions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva Medición</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to historial_medicions_path do %>
        <%= fa_icon "line-chart", text: "Mediciones" %>
    <% end %>
  </li>
  <li class="active">
    Nueva Medición
  </li>
</ol>

<%= render 'form' %>
