<div class="page-header">
  <%= link_to zonas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva Zona</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to zonas_path do %>
        <%= fa_icon "object-group", text: "Zonas" %>
    <% end %>
  </li>
  <li class="active">
    Nueva Zona
  </li>
</ol>

<%= render 'form' %>
