<div class="page-header">
  <%= link_to estados_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nuevo Estado</h4>
</div>

<%= render 'form' %>
